pandas==2.2.2
seaborn==0.13.2
SQLAlchemy==2.0.31
scikit-learn==1.5.1
transformers==4.43.2
torch==2.2.2
numpy==1.26.4
wheel==0.43.0
setuptools==65.5.0

# Required for T5
sentencepiece==0.2.0
protobuf==5.27.3
